* , - , / , +  are all mathematical expressions
-87.8, 6 , 'hello', are all integer or string values

String can store only textdata 
Variable is something that stores that can be in form of int,float,string,character,etc.

3 different data types
1. integer - take the integer values of the data
2.string- take the string(text values) of the data
3. float - take the decimal integer values of the data

Expressions are straight forward operations that can be performed like and,or,not etc.

Expressions evaluates to a value(like a*b, a and b)whereas the Statements form a part of a python program(lines of code)

In [11]:
bacon = 22

22

In [13]:
bacon +1

23

In [7]:
'spam'+'spamspam'

'spamspamspam'

In [8]:
'spam'*3

'spamspamspam'

Python doesn't recognise integer as a variable name

three functions can be used to get the integer, floating-point number, or string
version of a value

int()
float()
str()

In [25]:
'I have eaten '+ 99 + ' burritos.'

###the following error is a result of a heterogenous data types used this can be rectified by changing the integer data to stringby adding '' or str()###

TypeError: can only concatenate str (not "int") to str

In [19]:
'I have eaten '+ '99' + ' burritos.'

'I have eaten 99 burritos.'

In [20]:
'I have eaten '+ str(99) + ' burritos.'

'I have eaten 99 burritos.'